* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

ul,
figure,
h3,
p,
input {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 .938rem;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -.938rem;
}

[class*='col-'] {
	width: 100%;
	padding: 0 .938rem;
}

.col-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.3333333333%;
	flex: 0 0 8.3333333333%;
	max-width: 0 0 8.3333333333%;
}

.offset-1 {
	margin-left: 8.3333333333%;
}

.col-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 0 0 16.6666666667%;
}

.offset-2 {
	margin-left: 16.6666666667%;
}

.col-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 0 0 25%;
}

.offset-3 {
	margin-left: 25%;
}

.col-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 0 0 33.3333333333%;
}

.offset-4 {
	margin-left: 33.3333333333%;
}

.col-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 0 0 41.6666666667%;
}

.offset-5 {
	margin-left: 41.6666666667%;
}

.col-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 0 0 50%;
}

.offset-6 {
	margin-left: 50%;
}

.col-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 0 0 58.3333333333%;
}

.offset-7 {
	margin-left: 58.3333333333%;
}

.col-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.6666666667%;
	flex: 0 0 66.6666666667%;
	max-width: 0 0 66.6666666667%;
}

.offset-8 {
	margin-left: 66.6666666667%;
}

.col-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 0 0 75%;
}

.offset-9 {
	margin-left: 75%;
}

.col-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 0 0 83.3333333333%;
}

.offset-10 {
	margin-left: 83.3333333333%;
}

.col-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.6666666667%;
	flex: 0 0 91.6666666667%;
	max-width: 0 0 91.6666666667%;
}

.offset-11 {
	margin-left: 91.6666666667%;
}

.col-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 0 0 100%;
}

.offset-12 {
	margin-left: 100%;
}

.article {
	height: 100%;
	padding: 1.25rem;
	border: #979797 solid 1px;
	background: #d8d8d8;
}

.article__title {
	margin-bottom: .938rem;
	font-size: 1.25rem;
	font-weight: 400;
}

.article__excerpt {
	font-size: .875rem;
}

.article-grid__item+.article-grid__item {
	margin-top: 1.875rem;
}

.content {
	padding: 1.875rem 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
	background-image: linear-gradient(#ccc, #fff);
}

.footer {
	padding: .938rem 0;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.footer__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	text-align: center;
}

.footer__inner>*+* {
	margin-top: 1.875rem;
}

.footer__links {
	list-style: none;
}

.footer__links-item+.footer__links-item {
	margin-top: .625rem;
}

.footer__link {
	color: #333;
	text-decoration: none;
}

.footer__link:hover {
	color: #000;
}

.footer__copyright {
	color: #333;
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 50px;
	-webkit-box-shadow: 0 0 .313rem rgba(0,0,0,0.5);
	box-shadow: 0 0 .313rem rgba(0,0,0,0.5);
}

.header__top {
	position: relative;
}

.header__logo {
	max-width: 140px;
}

.header__nav-input,
.header__hamburger {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
}

.header__nav-input {
	opacity: 0;
	z-index: 4;
}

.header__hamburger {
	padding: 12.5px 7.5px;
	background: #175482;
}

.header__hamburger>* {
	display: block;
	position: relative;
	width: 35px;
	height: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	background: #fff;
	z-index: 1;
}

.header__hamburger>*:first-child {
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.header__hamburger>*:nth-child(3) {
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.header__nav {
	position: fixed;
	top: 0;
	right: -100vw;
	bottom: 0;
	width: 100vw;
	background: rgba(0,0,0,0.6);
}

.header__nav-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-width: 250px;
	background: #175482;
}

.header__menu {
	position: absolute;
	top: 65px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	list-style: none;
	overflow-y: auto;
}

.header__menu-item+.header__menu-item {
	margin-top: 25px;
}

.header__menu-link {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

.header__nav-input:checked ~ .header__nav {
	right: 0;
}

.header__nav-input:checked ~ .header__hamburger {
	background: #000;
}

.header__nav-input:checked ~ .header__hamburger>*:first-child {
	-webkit-transform: rotate(45deg) translate(3px, -7px);
	transform: rotate(45deg) translate(3px, -7px);
}

.header__nav-input:checked ~ .header__hamburger>*:nth-child(2) {
	opacity: 0;
}

.header__nav-input:checked ~ .header__hamburger>*:last-child {
	-webkit-transform: rotate(-45deg) translate(5px, 5px);
	transform: rotate(-45deg) translate(5px, 5px);
}

.hero {
	display: block;
	width: 100%;
	padding-bottom: 12%;
	border-radius: .25rem;
	background-size: cover;
	-webkit-box-shadow: 0 0 .313rem rgba(0,0,0,0.2);
	box-shadow: 0 0 .313rem rgba(0,0,0,0.2);
}

.img {
	border-radius: .125rem;
	-webkit-box-shadow: 0 0 .125rem rgba(0,0,0,0.2);
	box-shadow: 0 0 .125rem rgba(0,0,0,0.2);
}

.img-grid__item+.img-grid__item {
	margin-top: 1.875rem;
}

.img-grid__item>* {
	margin: 0 auto;
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	list-style: none;
}

.menu__link {
	color: #333;
	text-decoration: none;
}

.menu__link:hover,
.menu__link--active {
	color: #007ef4;
}

.section+.section {
	margin-top: 1.875rem;
}

.txt {
	color: #4b4b4b;
	font-size: .875rem;
}

@media (min-width: 576px) {

.offset-sm-0 {
	margin-left: 0;
}

.col-sm-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.3333333333%;
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.offset-sm-1 {
	margin-left: 8.3333333333%;
}

.col-sm-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.offset-sm-2 {
	margin-left: 16.6666666667%;
}

.col-sm-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.offset-sm-3 {
	margin-left: 25%;
}

.col-sm-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.offset-sm-4 {
	margin-left: 33.3333333333%;
}

.col-sm-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.offset-sm-5 {
	margin-left: 41.6666666667%;
}

.col-sm-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.offset-sm-6 {
	margin-left: 50%;
}

.col-sm-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.offset-sm-7 {
	margin-left: 58.3333333333%;
}

.col-sm-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.6666666667%;
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.offset-sm-8 {
	margin-left: 66.6666666667%;
}

.col-sm-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.offset-sm-9 {
	margin-left: 75%;
}

.col-sm-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.offset-sm-10 {
	margin-left: 83.3333333333%;
}

.col-sm-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.6666666667%;
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.offset-sm-11 {
	margin-left: 91.6666666667%;
}

.col-sm-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.offset-sm-12 {
	margin-left: 100%;
}

.article-grid__item+.article-grid__item {
	margin-top: 0;
}

.footer__inner {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.footer__inner>*+* {
	margin-top: 0;
}

.footer__links-item {
	display: inline-block;
}

.footer__links-item+.footer__links-item {
	margin-top: 0;
	margin-left: 1.25rem;
}

.header {
	display: block;
	height: auto;
}

.header__top {
	padding: .5rem 0;
}

.header__logo {
	max-width: 10rem;
}

.header__nav-input,
.header__hamburger {
	display: none;
}

.header__nav {
	position: relative;
	top: auto;
	right: auto;
	width: auto;
	padding: .625rem 0 .5rem;
	background: #f8f8f8;
}

.header__nav-inner {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	width: auto;
	max-width: none;
	background: none;
}

.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	max-width: none;
	padding: 0;
	background: #f8f8f8;
	overflow-y: unset;
}

.header__menu-item+.header__menu-item {
	margin-top: 0;
}

.header__menu-link {
	color: #333;
	text-decoration: none;
}

.header__menu-link:hover,
.header__menu-link--active {
	color: #007ef4;
}

.img-grid__item+.img-grid__item {
	margin-top: 0;
}

}

@media (min-width: 768px) {

.offset-md-0 {
	margin-left: 0;
}

.col-md-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.3333333333%;
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.offset-md-1 {
	margin-left: 8.3333333333%;
}

.col-md-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.offset-md-2 {
	margin-left: 16.6666666667%;
}

.col-md-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.offset-md-3 {
	margin-left: 25%;
}

.col-md-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.offset-md-4 {
	margin-left: 33.3333333333%;
}

.col-md-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.offset-md-5 {
	margin-left: 41.6666666667%;
}

.col-md-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.offset-md-6 {
	margin-left: 50%;
}

.col-md-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.offset-md-7 {
	margin-left: 58.3333333333%;
}

.col-md-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.6666666667%;
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.offset-md-8 {
	margin-left: 66.6666666667%;
}

.col-md-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.offset-md-9 {
	margin-left: 75%;
}

.col-md-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.offset-md-10 {
	margin-left: 83.3333333333%;
}

.col-md-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.6666666667%;
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.offset-md-11 {
	margin-left: 91.6666666667%;
}

.col-md-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.offset-md-12 {
	margin-left: 100%;
}

}

@media (min-width: 992px) {

html,
body {
	font-size: 16px;
}

.offset-lg-0 {
	margin-left: 0;
}

.col-lg-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.3333333333%;
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.offset-lg-1 {
	margin-left: 8.3333333333%;
}

.col-lg-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.offset-lg-2 {
	margin-left: 16.6666666667%;
}

.col-lg-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.offset-lg-3 {
	margin-left: 25%;
}

.col-lg-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.offset-lg-4 {
	margin-left: 33.3333333333%;
}

.col-lg-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.offset-lg-5 {
	margin-left: 41.6666666667%;
}

.col-lg-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.offset-lg-6 {
	margin-left: 50%;
}

.col-lg-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.offset-lg-7 {
	margin-left: 58.3333333333%;
}

.col-lg-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.6666666667%;
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.offset-lg-8 {
	margin-left: 66.6666666667%;
}

.col-lg-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.offset-lg-9 {
	margin-left: 75%;
}

.col-lg-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.offset-lg-10 {
	margin-left: 83.3333333333%;
}

.col-lg-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.6666666667%;
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.offset-lg-11 {
	margin-left: 91.6666666667%;
}

.col-lg-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.offset-lg-12 {
	margin-left: 100%;
}

}

@media (min-width: 1440px) {

.offset-xl-0 {
	margin-left: 0;
}

.col-xl-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.3333333333%;
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.offset-xl-1 {
	margin-left: 8.3333333333%;
}

.col-xl-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.offset-xl-2 {
	margin-left: 16.6666666667%;
}

.col-xl-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.offset-xl-3 {
	margin-left: 25%;
}

.col-xl-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.offset-xl-4 {
	margin-left: 33.3333333333%;
}

.col-xl-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.offset-xl-5 {
	margin-left: 41.6666666667%;
}

.col-xl-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.offset-xl-6 {
	margin-left: 50%;
}

.col-xl-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.offset-xl-7 {
	margin-left: 58.3333333333%;
}

.col-xl-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.6666666667%;
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.offset-xl-8 {
	margin-left: 66.6666666667%;
}

.col-xl-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.offset-xl-9 {
	margin-left: 75%;
}

.col-xl-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.offset-xl-10 {
	margin-left: 83.3333333333%;
}

.col-xl-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.6666666667%;
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.offset-xl-11 {
	margin-left: 91.6666666667%;
}

.col-xl-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.offset-xl-12 {
	margin-left: 100%;
}

}

