.article {
    height: 100%;
    padding: rem(20);
    border: color('dusty-gray') solid 1px;
    background: color('alto');

    &__title {
        margin-bottom: rem(15);
        font-size: rem(20);
        font-weight: font-weight('normal');
    }

    &__excerpt {
        font-size: rem(14);
    }
}
