.footer {
    padding: rem(15) 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        text-align: center;

        @include respond-to('sm') {
            flex-direction: row;
        }

        > * + * {
            margin-top: rem(30);

            @include respond-to('sm') {
                margin-top: 0;
            }
        }
    }

    &__links {
        list-style: none;

        &-item {
            @include respond-to('sm') {
                display: inline-block;
            }

            & + & {
                margin-top: rem(10);

                @include respond-to('sm') {
                    margin-top: 0;
                    margin-left: rem(20);
                }
            }
        }
    }

    &__link {
        color: color('mine-shaft');
        text-decoration: none;

        &:hover {
            color: color('black');
        }
    }

    &__copyright {
        color: color('mine-shaft');
    }
}
