.header {
    display: flex;
    position: relative;
    align-items: center;
    height: 50px;
    box-shadow: 0 0 rem(5) rgba(color('black'), .5);

    @include respond-to('sm') {
        display: block;
        height: auto;
    }

    &__top {
        position: relative;

        @include respond-to('sm') {
            padding: rem(8) 0;
        }
    }

    &__logo {
        max-width: 140px;

        @include respond-to('sm') {
            max-width: rem(160);
        }
    }

    &__nav-input,
    &__hamburger {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;

        @include respond-to('sm') {
            display: none;
        }
    }

    &__nav-input {
        opacity: 0;
        z-index: z-index('nav');
    }

    // hamburger menu
    &__hamburger {
        padding: 12.5px 7.5px;
        background: color('primary');

        > * {
            display: block;
            position: relative;
            width: 35px;
            height: 5px;
            margin-bottom: 5px;
            border-radius: 3px;
            background: color('white');
            z-index: 1;

            &:first-child {
                transform-origin: 0 0;
            }

            &:nth-child(3) {
                transform-origin: 0 100%;
            }
        }
    }

    // nav
    &__nav {
        position: fixed;
        top: 0;
        right: -100vw;
        bottom: 0;
        width: 100vw;
        background: rgba(color('black'), .6);

        @include respond-to('sm') {
            position: relative;
            top: auto;
            right: auto;
            width: auto;
            padding: rem(10) 0 rem(8);
            background: color('alabaster');
        }

        &-inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            max-width: 250px;
            background: color('primary');

            @include respond-to('sm') {
                position: relative;
                top: auto;
                right: auto;
                bottom: auto;
                width: auto;
                max-width: none;
                background: none;
            }
        }
    }

    // menu
    &__menu {
        position: absolute;
        top: 65px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        list-style: none;
        overflow-y: auto;

        @include respond-to('sm') {
            display: flex;
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            justify-content: space-between;
            width: 100%;
            max-width: none;
            padding: 0;
            background: color('alabaster');
            overflow-y: unset;
        }

        &-item {
            & + & {
                margin-top: 25px;

                @include respond-to('sm') {
                    margin-top: 0;
                }
            }
        }

        &-link {
            color: color('white');
            font-size: 18px;
            text-decoration: none;

            @include respond-to('sm') {
                color: color('mine-shaft');
                text-decoration: none;

                &:hover,
                &--active {
                    color: color('azure-radiance');
                }
            }
        }
    }

    // nav checked
    &__nav-input:checked {
        ~ .header__nav {
            right: 0;
        }

        ~ .header__hamburger {
            background: color('black');

            > *:first-child {
                transform: rotate(45deg) translate(3px, -7px);
            }

            > *:nth-child(2) {
                opacity: 0;
            }

            > *:last-child {
                transform: rotate(-45deg) translate(5px, 5px);
            }
        }
    }
}
