.img-grid {
    &__item {
        & + & {
            margin-top: rem(30);

            @include respond-to('sm') {
                margin-top: 0;
            }
        }

        > * {
            margin: 0 auto;
        }
    }
}
