.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;

    &__link {
        color: color('mine-shaft');
        text-decoration: none;

        &:hover,
        &--active {
            color: color('azure-radiance');
        }
    }
}
