* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    @include respond-to('lg') {
        font-size: 16px;
    }
}

ul,
figure,
h3,
p,
input {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}
