.container {
    max-width: rem(960);
    margin: 0 auto;
    padding: 0 rem(15);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-15);
}

[class*='col-'] {
    width: 100%;
    padding: 0 rem(15);
}

@each $breakpoint, $size in $media-queries {
    .offset-#{$breakpoint}-#{0} {
        @include respond-to($breakpoint) {
            margin-left: 0;
        }
    }
}

@for $i from 1 through 12 {
    $max-width: 100% / 12 * $i;

    .col-#{$i} {
        flex: 0 0 $max-width;
        max-width: 0 0 $max-width;
    }

    .offset-#{$i} {
        margin-left: $max-width;
    }

    @each $breakpoint, $size in $media-queries {
        .col-#{$breakpoint}-#{$i} {
            @include respond-to($breakpoint) {
                flex: 0 0 $max-width;
                max-width: $max-width;
            }
        }

        .offset-#{$breakpoint}-#{$i} {
            @include respond-to($breakpoint) {
                margin-left: $max-width;
            }
        }
    }
}
